<!DOCTYPE html>
<html>
<head>
<title>Heart Disease Predictor</title>
<!-- <link rel="icon" type="image/x-icon" href="../static/images/trend.png"> -->

<link rel="stylesheet" href="../static/css/landing.css">

</head>
<main>

    <div>
      <span>welcome to</span>
      <h1>HEART DISEASE PREDICTOR </h1>
      <hr>
      <a href="/login">Get Started</a>

    </div>
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide swiper-slide--one"></div>
        <div class="swiper-slide swiper-slide--two"></div>
        <div class="swiper-slide swiper-slide--three"></div>
        <div class="swiper-slide swiper-slide--four"></div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
    <img src="https://images.unsplash.com/photo-1532938911079-1b06ac7ceec7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1332&q=80" alt="" class="bg">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.4.5/swiper-bundle.min.js"></script>
    <script src="../static/js/landing.js"></script>
  </main>
  
</html>